* {
  box-sizing: border-box;
}
.body {
  background-color: #0d1117;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: calc(3rem + 1vw);
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: 0.3s color ease-in-out;
    &:hover {
      color: #ff4f;
    }
  }
  &__button {
    background-color: #ff4e45;
    color: #fff;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s background-color ease-in-out;
    &:hover {
      background-color: rgb(16, 50, 160);
    }
  }
}
